<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/default-template.html}">

<!-- default_layout.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- default_layout.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>
<style>

</style>
<!-- Content -->
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12 pe-3">
                등록하기
                <div class="input-group mb-3 ">
                    <input type="text" class="form-control" placeholder="구분" aria-label="Username">
                    <span class="input-group-text"></span>
                    <input type="text" class="form-control" placeholder="회사명" aria-label="Server">
                    <span class="input-group-text"></span>
                    <input type="text" class="form-control" placeholder="공사코드" aria-label="Server">
                    <span class="input-group-text"></span>
                    <input type="text" class="form-control" placeholder="거래처명" aria-label="Server">
                    <span class="input-group-text"></span>
                    <input type="text" class="form-control" placeholder="담당자" aria-label="Server">
                    <span class="input-group-text"></span>
                    <input type="text" class="form-control" placeholder="미수금" aria-label="Server">
                    <span class="input-group-text"></span>
                    <input type="text" class="form-control" placeholder="미수금 잔액" aria-label="Server">
                    <span class="input-group-text"></span>
                    <input type="text" class="form-control" placeholder="수금일" aria-label="Server">
                    <span class="input-group-text"></span>
                    <input type="text" class="form-control" placeholder="수금액" aria-label="Server">
                    <span class="input-group-text"></span>
                    <input type="text" class="form-control" placeholder="수금완료여부" aria-label="Server">
                    <span class="input-group-text"></span>
                    <input type="text" class="form-control" placeholder="비고" aria-label="Server">
                </div>



        </div>
    </div>
</div>
</html>