<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.ahaproject.mapper.mskim.CardMapper">

    <resultMap id="CardMap" type="Card">
        <result property="card_id" column="card_id"/>
        <result property="cl_code" column="cl_code"/>
        <result property="card_name" column="card_name"/>
        <result property="card_class" column="card_class"/>
        <result property="card_type" column="card_type"/>
        <result property="card_company" column="card_company"/>
        <result property="card_num" column="card_num"/>
        <result property="card_endnum" column="card_endnum"/>
        <result property="card_exp_date" column="card_exp_date"/>
    </resultMap>

    <select id="selectAllForPaging" resultMap="CardMap">
        SELECT * FROM card
        <include refid="search"/>
        ORDER BY card_id DESC
        LIMIT #{skip}, #{size}
    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(card_id)
        FROM card
        <include refid="search"/>
    </select>

    <sql id="search">
        <where>
            <if test="keyword != null and type == 'card_name'.toString()">
                card_name LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="keyword != null and type == 'card_type'.toString()">
                card_type LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="keyword != null and type == 'card_num'.toString()">
                card_num LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="keyword != null and type == 'card_company'.toString()">
                card_company LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </sql>

</mapper>