<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.ahaproject.mapper.kjs.MisuMapper">

    <resultMap id="MisuMap" type="Misu">
        <result property="misu_id" column="misu_id"/>
        <result property="misu_div" column="misu_div"/>
        <result property="cp_name" column="cp_name"/>
        <result property="cst_code" column="cst_code"/>
        <result property="misu_manager" column="misu_manager"/>
        <result property="misu_value" column="misu_value"/>
        <result property="misu_name" column="misu_name"/>
        <result property="misu_total_value" column="misu_total_value"/>
        <result property="misu_collect_date" column="misu_collect_date"/>
        <result property="misu_collect_value" column="misu_collect_value"/>
        <result property="misu_finished" column="misu_finished"/>
        <result property="misu_uuid" column="misu_uuid"/>
        <result property="misu_filename" column="misu_filename"/>
        <result property="misu_etc" column="misu_etc"/>
    </resultMap>

    <select id="selectAllForPaging" resultMap="MisuMap">
        SELECT * FROM misu
        <include refid="search"/>
        ORDER BY misu_id DESC
        LIMIT #{skip}, #{size}
    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(misu_id)
        FROM misu
        <include refid="search"/>
    </select>

    <sql id="search">

        <where>

            <if test="keyword != null and type == 'misu_div'.toString()">
                misu_div LIKE CONCAT('%', #{keyword}, '%')
                <include refid="switch"/>
            </if>
            <if test="keyword != null and type == 'cst_code'.toString()">
                cst_code LIKE CONCAT('%', #{keyword}, '%')
                <include refid="switch"/>
            </if>

            <if test="keyword != null and type == 'cp_name'.toString()">
                cp_name LIKE CONCAT('%', #{keyword}, '%')
                <include refid="switch"/>
            </if>

            <if test="keyword != null and type == 'misu_name'.toString()">
                misu_name LIKE CONCAT('%', #{keyword}, '%')
                <include refid="switch"/>
            </if>

            <if test="blacklist">
                misu_black = 1
                <include refid="switch"/>
            </if>

        </where>

    </sql>

    <sql id="switch">

        <if test="finished != '' and finished == '완료'">
            AND misu_finished = 1
        </if>

        <if test="finished != '' and finished == '미완'">
            AND misu_finished = 0
        </if>

    </sql>

</mapper>