<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.ahaproject.mapper.mskim.UseCardMapper">

    <resultMap id="UseCardJoinMap" type="UseCardJoinDTO">
        <result property="uc_id" column="uc_id"/>
        <result property="card_id" column="card_id"/>
        <result property="card_name" column="card_name"/>
        <result property="card_class" column="card_class"/>
        <result property="card_type" column="card_type"/>
        <result property="card_endnum" column="card_endnum"/>
        <result property="uc_money" column="uc_money"/>
        <result property="uc_where" column="uc_where"/>
        <result property="uc_date" column="uc_date"/>
        <result property="uc_etc" column="uc_etc"/>
    </resultMap>

    <select id="selectAllForPaging" resultMap="UseCardJoinMap">
        SELECT use_card.*, card.card_name, card.card_class, card.card_type, card.card_endnum
        FROM use_card
        LEFT JOIN card ON use_card.card_id = card.card_id
        <include refid="search"/>
        ORDER BY uc_id DESC
        LIMIT #{skip}, #{size}
    </select>

    <select id="getCount" resultType="int">

        SELECT count(card.card_id)
        FROM use_card
        LEFT JOIN card ON use_card.card_id = card.card_id
        <include refid="search"/>
    </select>

    <sql id="search">
        <where>
            <if test="keyword != null and type == 'card_name'.toString()">
                card_name LIKE CONCAT('%', #{keyword}, '%')

            </if>
            <if test="keyword != null and type == 'card_class'.toString()">
                card_class LIKE CONCAT('%', #{keyword}, '%')

            </if>
            <if test="keyword != null and type == 'uc_where'.toString()">
                uc_where LIKE CONCAT('%', #{keyword}, '%')

            </if>
            <if test="card_id != 0">
            	use_card.card_id = #{card_id}
            
            </if>
        </where>
    </sql>

    <!-- 회계 처리여부를 위해 만들어둔 옵션 / 현재 날짜 기준 검색 옵션
    <sql id="switch">

        <if test="finished != '' and finished == '이전'">
            AND current_date() > uc_date
        </if>

        <if test="finished != '' and finished == '이후'">
            AND uc_date >= current_date()
        </if>

    </sql>
    -->

</mapper>