<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/default-template.html}">

<!-- default_layout.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- default_layout.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-3">
            <div class="card ">
                <div class="card border shadow-xs mt-3">

                    <div class="card-body p-5">
                        <div class="card-title text-center ">
                            <h6>
                                <span class="d-inline-block">
                                    <select class="form-select pe-5" aria-label="Default select example" id="selectYear"
                                            onchange="if(this.value) location.href='/?year=' + (this.value)">
                                        <th:block th:if="${param.year} == null">
                                            <option th:value="${jangBi.year}">[[${jangBi.year}]]</option>
                                        </th:block>
                                        <th:block th:unless="${param.year} == ''">
                                            <option th:value="${param.year}">[[${param.year}]]</option>
                                        </th:block>
                                        <th:block th:each="num : ${#numbers.sequence(2000, 2100)}">
                                            <option th:value="${num}">[[${num}]]</option>
                                        </th:block>
                                    </select>
                                </span>
                                년 월별 장비대여 건수
                            </h6>
                        </div>

                        <div class="card border shadow-x mt-4">
                            <div class="card-body">
                                <div class="table-responsive p-0">
                                    <table class="table align-items-center mb-0">
                                        <thead class="bg-gray-100">
                                        <tr>
                                            <th class="text-secondary text-center text-xs font-weight-semibold opacity-7">
                                                월
                                            </th>
                                            <th class="text-secondary text-xs font-weight-semibold opacity-7">장비</th>
                                            <th class="text-secondary text-xs font-weight-semibold opacity-7 ps-2">포장
                                            </th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="1월"/>
                                            </td>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="${jangBi.getJanuary()}"/>
                                                <span>건</span>

                                            </td>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="${poJang.getJanuary()}"/>
                                                <span>건</span>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="2월"/>
                                            </td>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="${jangBi.getFebruary()}"/>
                                                <span>건</span>

                                            </td>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="${poJang.getFebruary()}"/>
                                                <span>건</span>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="3월"/>
                                            </td>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="${jangBi.getMarch()}"/>
                                                <span>건</span>

                                            </td>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="${poJang.getMarch()}"/>
                                                <span>건</span>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="4월"/>
                                            </td>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="${jangBi.getApril()}"/>
                                                <span>건</span>

                                            </td>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="${poJang.getApril()}"/>
                                                <span>건</span>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="5월"/>
                                            </td>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="${jangBi.getMay()}"/>
                                                <span>건</span>

                                            </td>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="${poJang.getMay()}"/>
                                                <span>건</span>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="6월"/>
                                            </td>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="${jangBi.getJune()}"/>
                                                <span>건</span>

                                            </td>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="${poJang.getJune()}"/>
                                                <span>건</span>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="7월"/>
                                            </td>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="${jangBi.getJuly()}"/>
                                                <span>건</span>

                                            </td>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="${poJang.getJuly()}"/>
                                                <span>건</span>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="8월"/>
                                            </td>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="${jangBi.getAugust()}"/>
                                                <span>건</span>

                                            </td>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="${poJang.getAugust()}"/>
                                                <span>건</span>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="9월"/>
                                            </td>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="${jangBi.getSeptember()}"/>
                                                <span>건</span>

                                            </td>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="${poJang.getSeptember()}"/>
                                                <span>건</span>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="10월"/>
                                            </td>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="${jangBi.getOctober()}"/>
                                                <span>건</span>

                                            </td>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="${poJang.getOctober()}"/>
                                                <span>건</span>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="11월"/>
                                            </td>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="${jangBi.getNovember()}"/>
                                                <span>건</span>

                                            </td>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="${poJang.getNovember()}"/>
                                                <span>건</span>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="12월"/>
                                            </td>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="${jangBi.getDecember()}"/>
                                                <span>건</span>

                                            </td>
                                            <td class="align-middle text-center">
                                                    <span class="text-secondary text-sm font-weight-normal"
                                                          th:text="${poJang.getDecember()}"/>
                                                <span>건</span>

                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-sm font-weight-normal"/>
                                                총합</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-sm font-weight-normal"
                                                      th:text="${jangBi.total}"/>
                                                <span>건</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-sm font-weight-normal"
                                                      th:text="${poJang.total}"/>
                                                <span>건</span>

                                            </td>
                                        </tr>
                                        </th:block>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card border shadow-xs ">
                    <div class="card-body p-5">
                        <div class="card-title text-center mb-5">
                            <h4>장비대여 현황(캘린더)</h4>
                        </div>
                        <div id='calendar'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>


    var calendar = new Calendar(calendarEl, {
        views: {
            dayGrid: {
                // options apply to dayGridMonth, dayGridWeek, and dayGridDay views
            },
            timeGrid: {
                // options apply to timeGridWeek and timeGridDay views
            },
            week: {
                // options apply to dayGridWeek and timeGridWeek views
            },
            day: {
                // options apply to dayGridDay and timeGridDay views
            }
        }
    });
</script>
</html>