<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/default-template.html}">
<head>
    <meta charset="UTF-8">
    <title>아하포장건설</title>


</head>
<body>
<!-- default_layout.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- default_layout.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!--content start-->
<div layout:fragment="content">

    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-sm-1"></div>

            <div class="col-md-8">
                <div class="card border shadow-xs">
                    <div class="card-header pb-0">
                        <div class="d-flex align-items-end">
                            <p class="mb-0">글쓰기</p>
                            <button class="btn btn-primary btn-sm ms-auto" href="#" th:onclick="abc()">전체글보기</button>
                        </div>
                    </div>

                    <script>

                        const selector = document.querySelector("#registration");

                        function abc() {

                            window.location.href = "http://localhost:9000/user/board/list";

                        }

                    </script>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="b_title" class="form-control-label">제목</label>
                                    <input class="form-control" id="b_title" type="text" placeholder=""
                                           th:value="${board.b_title}" disabled="disabled">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="b_title" class="form-control-label">카테고리</label>
                                    <select class="form-select" aria-label="Default select example" id="ct_id"
                                            disabled="disabled">
                                        <th:block th:each="category : ${categories}">
                                            <option th:if="${category.ct_use} == true" th:value="${category.ct_id}">
                                                [[${category.ct_name}]]
                                            </option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <hr class="horizontal dark">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="b_body" class="form-control-label">본문</label>
                                    <textarea class="form-control" type="text" id="b_body" rows="30"
                                              style="resize: none;" th:text="${board.b_body}"
                                              disabled="disabled"> </textarea>
                                </div>
                            </div>

                        </div>
                        <!--                        <hr class="horizontal dark">-->
                        <!--                        <div class="row">-->
                        <!--                            <div class="col-md-12">-->
                        <!--                                <div class="form-group">-->
                        <!--                                    <div class="col-sm-12">-->
                        <!--                                        <div class="form-group">-->
                        <!--                                            <label class="form-control-label">파일</label><br>-->
                        <!--                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"-->
                        <!--                                                    data-bs-target="#exampleModal">-->
                        <!--                                                파일등록-->
                        <!--                                            </button>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->

                        <!--                                    <div class="row mt-3">-->
                        <!--                                        <div class="col d-flex justify-content-center">-->
                        <!--                                            <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;">-->
                        <!--                                            </div>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-sm-12">
                        <button class="btn btn-primary" id="target" style="display: none;" type="button"
                                data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                aria-controls="offcanvasRight">Toggle right offcanvas
                        </button>

                        <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false"
                             tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                            <div class="offcanvas-header">
                                <h5 id="offcanvasRightLabel">Comment</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <div >
                                    <div class="card border shadow-xs">
                                        <div class="card-header">
                                            <span class="text-sm">ddd</span>
                                        </div>
                                        <div class="card-body">
                                            <textarea class="form-control" rows="5" style="resize: none;"></textarea>
                                        </div>
                                    </div>
                                    <div class="card border shadow-xs my-2" >
                                        <div class="card-header">
                                            <span class="text-sm">ddd</span>
                                        </div>
                                        <div class="card-body">
                                            asdfasfdsa
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script defer>

                function click() {
                    const target = document.getElementById("target");
                    target.click();
                }

                setTimeout(click, 500);
            </script>
            <div class="col-sm-2">

            </div>

        </div>

    </div>

    <div class="modal fade uploadModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">파일첨부</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">첨부파일을 선택하세요.</label>
                        <input class="form-control" type="file" id="formFile" name="files">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeUploadBtn">Close
                    </button>
                    <button type="button" class="btn btn-primary uploadBtn" id="uploadBtn">Upload</button>
                </div>
            </div>
        </div>
    </div>

</div>


</body>

</html>